body{
    margin: 8px 0 !important;
}
.nav{
    padding: 0 7rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-sty{
    height:70px;
    width: auto;
    float: left;
}
ul{
    list-style-type: none;
}
.nav li{
    display: inline;
    margin-left: 1.2rem;
    text-transform: uppercase;
    
}
.nav li:hover{
    padding-bottom: 1rem;
    border-bottom: 3px solid blue;
}
a{
    color: #222555;
    text-decoration: none;
    letter-spacing: 0.1rem;
}
a:hover{
    color: #222555;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.sec{
    margin: 1rem 0;
    background: url('Home\ Banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: black; */

}
.sec1{
    margin: 1rem 0;
    background: rgb(56, 56, 56);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: black; */

}
.sec-inr{
    margin-left: 7%;
    padding: 2rem 1.5rem;
    width: 550px;
    background:rgba(211, 211, 211, 0.2);
}

.sec-inr h2{
    padding-bottom: 1rem;
    border-bottom: 2px solid blue;
    font-family: roboto;
}
.sec-sec{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

}
.sec-sec h6{
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background-color: #222555;
}
.thr{
    padding:0 6rem ;
    margin: 5rem 0 0 0;
    padding-bottom: 4rem;
    /* border-bottom: 15px solid rgb(221,221,221,0.5); */
}
.thr-sec{
    height: auto;
    width: 100%; 
}
.imgsty{
    height: 100%;
    width: 100%;
}

.pad1{
    padding: 2rem 0rem 2rem 2rem;
    line-height: 1.5;
    color: #4f565d;
    font-size: 15.5px;
}
.pad2{
    padding: 2rem 2rem 2rem 0rem;
}
.line3{
    border: 2px solid rgb(0,92,164);
    width: 10% !important;
    margin-bottom: 1rem;;
    margin: 0 auto;
}
.line{
    border: 2px solid rgb(0,92,164);
    width: 80%;
    margin-bottom: 1rem;;
}
.line2{
    border: 2px solid rgb(0,92,164);
    width: 80%;
    margin: 0 auto;
}
.frt{
    margin: 7rem 0;
    padding:0 6rem ;
}
.card{
    margin-top:1rem;
    border: none;
}
.card img{
    border: 3px solid black;
}

.card-body{
    padding-top: 2rem;;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4f565d;
    min-height: 280px;
}
.img1{
height: 130px;
width: 130px;
padding-bottom: 1rem;
}
.card-body h5{
    font-size: 1.3em;
    font-family: roboto;
}
.card-body p{
    font-family: roboto;
    margin-top: 1rem;;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
}
.ftr{
    padding:0 6rem ;
    color: #4f565d;
}
.ftr a{
    color: #4f565d;

}
.ftr p{
    color: #4f565d;
    line-height: 1.7;
    font-size: 0.9rem;
}
.ftr1{
    text-align: center;
}
.red{
    color:red;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .thr{
        padding:0 1rem ;
    }
    .pad1{
        padding: 0.8rem 0.8rem 0.8rem 0rem;
    }
    .pad2{
        padding: 0.8rem 0rem 0.8rem 0.8rem;
    }
}

@media only screen and (max-width: 1000px) {
    .nav{
        padding: 0 0.5rem ;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav li{
        margin: 1rem;
       font-size: 0.9rem;
       white-space: nowrap;
    }
    .nav li:hover{
        padding-bottom: 0rem;
        border-bottom: none;
    }
    a:hover{
        color: #222555;
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-size: 1rem;
    }
    .sec-inr{
        margin-left: 5%;
    }
    
    .sec-inr h2{
        font-size: 1.4rem;
    }
    .thr{
        padding:0 1rem ;
    }
    .ftr{
        padding:0 1.5rem ;
        color: #4f565d;
    }
    .frt{
        margin: 7rem 0;
        padding:0 1rem ;
    }
  }